   <% content_for :boisson do %>
     <%= stylesheet_link_tag  "plats", media: "all", "data-turbolinks-track" => true %>

  <% end %>

  <div id='main-content'>
    <div id='firstline'>
      <div class='block-boisson' id='first_boisson'>
        <div id='image-boisson'>
          <img alt="Mojito" src="/assets/plat/<%= @plat[0].path %>" />
        </div>
        <div id='bottom-block'>
          <div id='icon-bottom'>
            <img alt="Icon-mojito" src="/assets/boire/sale.png" />
          </div>
          <div id='text-bottom'>
            <%= link_to @plat[0].name,plat_path(1) %>
          </div>
        </div>
      </div>
      <div class='block-boisson' id='firstline-blocktwo'>
        <div id='image-boisson'>
          <img alt="Mojito-concombre" src="/assets/plat/<%= @plat[4].path %>" />
          <!-- /= image_tag("boire/hover-cocktails.png") -->
        </div>
        <div id='bottom-block'>
          <div id='icon-bottom'>
            <img alt="Icon-mojito" src="/assets/boire/sucre.png" />
          </div>
          <div id='text-bottom'>
            <%= link_to @plat[4].name,plat_path(5) %>
          </div>
        </div>
      </div>
      <div class='block-boisson' id='firstline-blockthree'>
        <div id='image-boisson'>
          <img alt="Pina" src="/assets/plat/<%= @plat[2].path %>" />
        </div>
        <div id='bottom-block'>
          <div id='icon-bottom'>
            <img alt="Icon-mojito" src="/assets/boire/sucre.png" />
          </div>
          <div id='text-bottom'>
            <%= link_to @plat[2].name,plat_path(3) %>
          </div>
        </div>
      </div>
      <div class='block-boisson' id='firstline-finalblock'>
        <div id='image-boisson'>
          <img alt="Margarita" src="/assets/plat/<%= @plat[3].path %>" />
        </div>
        <div id='bottom-block'>
          <div id='icon-bottom'>
            <img alt="Icon-margarita" src="/assets/boire/sale.png" />
          </div>
          <div id='text-bottom'>
            <%= link_to @plat[3].name,plat_path(4) %>

          </div>
        </div>
      </div>
    </div>
    <div id='big_two_small'>
  <a href="<%= boisson_path(7) %>">
    <div id='block' class='big'>
      <div id='image-boisson' class='big_im'>
        <img alt="Sunset" src="/assets/plat/<%= @plat[6].path %>" />
      </div>  
      <div id='bottom-block' class="big_bottom">
        <div id='icon-bottom' class="topicon">
          <img alt="Icon-etoile" src="/assets/boire/icon-etoile.png" />
        </div>
        <div id='text-bottom'>
           <%= link_to @plat[6].name,plat_path(7) %>
        </div>
      </div>
    </div>
  </a>
  
  <a href="<%= plat_path(2) %>">
    <div id='block' class='small'>
      <div id='image-boisson' class="small_im">
        <img alt="Sunset" src="/assets/plat/cupc.png" />
      </div>  
      <div id='bottom-block' class="small_bottom">
         <%= link_to @plat[1].name,plat_path(2) %>
      </div>
    </div>
  </a>

  <a href="<%= plat_path(6) %>">
    <div id='block' class='small'>
      <div id='image-boisson' class='small_im'>
        <img alt="Sunset" src="/assets/plat/glace.png" />
      </div> 
      <div id='bottom-block' class="small_bottom">
       <%= link_to @plat[5].name,plat_path(6) %>
      </div> 
    </div>
  </a>

</div>


<% @classement %>