  <div id='main-content'>
    <div id='firstline'>
      <div class='block-boisson' id='first_boisson'>
        <div id='image-boisson'>
          <img alt="Mojito" src="/assets/boisson/<%= @boisson[0].path %>" />
        </div>
        <div id='bottom-block'>
          <div id='icon-bottom'>
            <img alt="Icon-mojito" src="/assets/boisson/icon-mojito.png" />
          </div>
          <div id='text-bottom'>
            <%= link_to 'Mojito',boisson_path(1) %>
          </div>
        </div>
      </div>
      <div class='block-boisson' id='firstline-blocktwo'>
        <div id='image-boisson'>
          <img alt="Mojito-concombre" src="/assets/boisson/<%= @boisson[1].path %>" />
          <!-- /= image_tag("boire/hover-cocktails.png") -->
        </div>
        <div id='bottom-block'>
          <div id='icon-bottom'>
            <img alt="Icon-mojito" src="/assets/boire/icon-mojito.png" />
          </div>
          <div id='text-bottom'>
            <%= link_to 'Long Island',boisson_path(2) %>

          </div>
        </div>
      </div>
      <div class='block-boisson' id='firstline-blockthree'>
        <div id='image-boisson'>
          <img alt="Pina" src="/assets/boisson/<%= @boisson[2].path %>" />
        </div>
        <div id='bottom-block'>
          <div id='icon-bottom'>
            <img alt="Icon-mojito" src="/assets/boire/icon-mojito.png" />
          </div>
          <div id='text-bottom'>
            <%= link_to 'Piña colada',boisson_path(3) %>

            
          </div>
        </div>
      </div>
      <div class='block-boisson' id='firstline-finalblock'>
        <div id='image-boisson'>
          <img alt="Margarita" src="/assets/boisson/<%= @boisson[3].path %>" />
        </div>
        <div id='bottom-block'>
          <div id='icon-bottom'>
            <img alt="Icon-margarita" src="/assets/boire/icon-margarita.png" />
          </div>
          <div id='text-bottom'>
            <%= link_to 'Chocolat Chaud',boisson_path(4) %>
          </div>
        </div>
      </div>
    </div>

    <div id='big_two_small'>
  <a href="<%= boisson_path(6) %>">
    <div id='block' class='big'>
      <div id='image-boisson' class='big_im'>
        <img alt="Sunset" src="/assets/boire/sunset.png" />
      </div>  
      <div id='bottom-block' class="big_bottom">
        <div id='icon-bottom' class="topicon">
          <img alt="Icon-etoile" src="/assets/boire/icon-etoile.png" />
        </div>
        <div id='text-bottom'>
          La sangria sunset
        </div>
      </div>
    </div>
  </a>
  
  <a href="<%= plat_path(2) %>">
    <div id='block' class='small'>
      <div id='image-boisson' class="small_im">
        <img alt="Sunset" src="/assets/boisson/cupc.png" />
      </div>  
      <div id='bottom-block' class="small_bottom">
        Les Cupcakes
      </div>
    </div>
  </a>

  <a href="<%= plat_path(12) %>">
    <div id='block' class='small'>
      <div id='image-boisson' class='small_im'>
        <img alt="Sunset" src="/assets/boisson/<%= @boisson[12].path %>" />
      </div> 
      <div id='bottom-block' class="small_bottom">
        <%= link_to 'Daiquiri',boisson_path(13) %>
      </div> 
    </div>
  </a>

</div>
 <div id='firstline'>
      <div class='block-boisson' id='first_boisson'>
        <div id='image-boisson'>
          <img alt="Mojito" src="/assets/boisson/<%= @boisson[3].path %>" />
        </div>
        <div id='bottom-block'>
          <div id='icon-bottom'>
            <img alt="Icon-mojito" src="/assets/boisson/icon-mojito.png" />
          </div>
          <div id='text-bottom'>
            <%= link_to 'Chocolat Chaud',boisson_path(4) %>
          </div>
        </div>
      </div>
      <div class='block-boisson' id='firstline-blocktwo'>
        <div id='image-boisson'>
          <img alt="Mojito-concombre" src="/assets/boisson/<%= @boisson[6].path %>" />
          <!-- /= image_tag("boire/hover-cocktails.png") -->
        </div>
        <div id='bottom-block'>
          <div id='icon-bottom'>
            <img alt="Icon-mojito" src="/assets/boire/icon-mojito.png" />
          </div>
          <div id='text-bottom'>
            <%= link_to 'Limonade',boisson_path(7) %>

          </div>
        </div>
      </div>
      <div class='block-boisson' id='firstline-blockthree'>
        <div id='image-boisson'>
          <img alt="Pina" src="/assets/boisson/<%= @boisson[7].path %>" />
        </div>
        <div id='bottom-block'>
          <div id='icon-bottom'>
            <img alt="Icon-mojito" src="/assets/boire/icon-mojito.png" />
          </div>
          <div id='text-bottom'>
            <%= link_to 'Biere',boisson_path(8) %>

            
          </div>
        </div>
      </div>
      <div class='block-boisson' id='firstline-finalblock'>
        <div id='image-boisson'>
          <img alt="Margarita" src="/assets/boisson/<%= @boisson[10].path %>" />
        </div>
        <div id='bottom-block'>
          <div id='icon-bottom'>
            <img alt="Icon-margarita" src="/assets/boire/icon-margarita.png" />
          </div>
          <div id='text-bottom'>
            <%= link_to 'Cosmopolitan',boisson_path(11) %>
          </div>
        </div>
      </div>
    </div>

  </div>
