<%= stylesheet_link_tag    "boissons", media: "all", "data-turbolinks-track" => true %>

  <div id='main-content'>
  	<h1>Où boire des <%= @boisson.name %>s ?</h1>
    <div id='big_two_small'>
		<% @top_one_boisson.each.with_index do |z,index| %>
			<% if index == 0 %>
				<div id='topone'>
        	<div id='image-boisson'>
              <div id='icon-bottom'>
              <!--<img alt="Icon-etoile" src="/assets/boire/icon-etoile.png" />-->
              #1
            </div>
        		<img alt="Sunset" src="/assets/bar/<%= z.path %>" />

          </div>
        	<div id='bottom-block'>
         		<div id="title-etab">
                <%= z.name %>
            </div>
         		<div id="location">
                 <img alt="locatationpoint" src="/assets/pointer.png" >
                  <span><%= z.adresse %></span>
            </div>

            <div id="vote">
                <p><span><%= z.point %></span> votes</p>
            </div>
             
        			
          </div>
        </div>
      <% else %>
      <div id="toptwo">

        <div id='image-boisson'>
            <% @css = "" %>
            <% if index == 2 %>
             <% @css = "greentop" %>
            <% end %> 
              <div id='icon-bottom' class="<%= @css %>">
              <!--<img alt="Icon-etoile" src="/assets/boire/icon-etoile.png" />-->
              #<%= index + 1 %>
            </div>
            
    			<img alt="<%= z.path %>" src="/assets/bar/<%= z.path %>" />
        </div>
     			<div id='bottom-block'>
            <img alt="locatationpoint" src="/assets/pointer.png" >
           	<div id='text-bottom'>
             	                 
              <%= z.name %>
            
      	 			<span> votes </span><span class="green"> <%= z.point %></span>
     				</div>
    			</div>
      	</div>
    
          	<% end %>

				
			
		<% end %>
      <!--
      <div id='toptwo'>

       <div id='toptwo'>
        <div id='image-boisson'>
          <img alt="Sunset" src="/assets/boire/sunset.png" />
          <div id='bottom-block'>
            <div id='icon-bottom'>
              <img alt="Icon-etoile" src="/assets/boire/icon-etoile.png" />
            </div>
            <div id='text-bottom'>
              La sangria sunset
            </div>
          </div>
        </div>
      </div>
    </div>-->
    
  </div>
</div>